.env
.env.*
.env.example
!.env.*.example

*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.DS_Store
*.ini
pkg/
__pycache__
*.egg-info
.venv

*.db
*.html

/data
/config
arrranger_instances.json